* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-content {
  display: none;
  justify-content: space-between;
  padding: 25px;
  color: white;
  transition: transform 0.2s ease;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.top-content .right {
  display: flex;
}

.middle-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal {
  cursor: pointer;
  margin-top: 30px;
}
.goal img {
  width: 90px;
  opacity: 0.6;
  transition: 0.5s;
}
.goal:hover img {
  opacity: 1;
}

.quotes {
  display: none;
  color: #fff;
  width: 30%;
  cursor: pointer;
  transition: transform 0.2s ease;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.quotes .quote {
  text-align: justify;
}
.quotes .author {
  float: right;
  font-size: 13px;
  font-style: italic;
}
.quotes:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px #4bc546, 0 0 5px deepskyblue;
}

.middle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle-container .item {
  cursor: pointer;
  transition: transform 0.2s ease;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.middle-container .item img {
  width: 100px;
  opacity: 0.6;
  transition: 0.5s;
}
.middle-container .item .circle {
  content: "";
  width: 100px;
  height: 100px;
  border: 8px solid deepskyblue;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: pulseEffect infinite 1s;
  transition: 0.5s;
}
.middle-container .item:hover img {
  opacity: 1;
}
.middle-container .request-name {
  display: none;
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.middle-container .request-name input {
  width: 100%;
  height: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}
.middle-container .request-name input:focus + .label-name .content-name, .middle-container .request-name input:valid + .label-name .content-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #5fa8d3;
}
.middle-container .request-name input:focus + .label-name::after, .middle-container .request-name input:valid + .label-name::after {
  transform: translateX(0%);
}
.middle-container .request-name label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.middle-container .request-name label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}
.middle-container .request-name label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.middle-container .user-content {
  display: none;
  text-align: center;
  color: white;
  transition: transform 0.2s ease;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.middle-container .user-content .timer {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.middle-container .user-content .timer:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px #4bc546, 0 0 5px deepskyblue;
}
.middle-container .user-content .timer .hour-minute {
  font-size: 100px;
  font-weight: 100;
  padding: 20px;
  width: 100%;
}
.middle-container .user-content .timer .seconds {
  font-size: 30px;
  font-weight: 100;
  margin-top: 97px;
  width: 55px;
  margin-left: -30px;
}
.middle-container .user-content .timer .ampm {
  display: none;
  font-size: 30px;
  font-weight: 100;
  margin-top: 97px;
  width: 55px;
}
.middle-container .user-content #greetings {
  font-size: 30px;
  font-weight: 100;
  margin-top: 25px;
}
.middle-container .user-content #current-day {
  color: #fff;
  font-size: 20px;
  margin-top: -40px;
  letter-spacing: 3px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block !important;
}

footer {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: transform 0.2s ease;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
footer .todo {
  color: #fff;
  font-size: 19px;
  letter-spacing: 2px;
  cursor: pointer;
}
footer .todo:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px #4bc546, 0 0 5px deepskyblue;
}

.quote-header {
  color: #fff;
  font-size: 19px;
  letter-spacing: 2px;
  cursor: pointer;
}
.quote-header:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px #4bc546, 0 0 5px deepskyblue;
}

#weather {
  padding-right: 15px;
  cursor: pointer;
}
#weather:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px #4bc546, 0 0 5px deepskyblue;
}

.weather {
  font-size: 35px;
}

.weather-description, .degree {
  font-size: 13px;
  font-style: normal;
}

.new-quote {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  margin-top: -10px;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.new-quote input {
  width: 100%;
  height: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}
.new-quote input:focus + .label-name .content-name, .new-quote input:valid + .label-name .content-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #5fa8d3;
}
.new-quote input:focus + .label-name::after, .new-quote input:valid + .label-name::after {
  transform: translateX(0%);
}
.new-quote label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.new-quote label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}
.new-quote label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.new-quote-author {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.new-quote-author input {
  width: 100%;
  height: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}
.new-quote-author input:focus + .label-name .content-name, .new-quote-author input:valid + .label-name .content-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #5fa8d3;
}
.new-quote-author input:focus + .label-name::after, .new-quote-author input:valid + .label-name::after {
  transform: translateX(0%);
}
.new-quote-author label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.new-quote-author label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}
.new-quote-author label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.quote-list {
  display: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin-top: 60px;
  margin-right: 20px;
  background: transparent;
  height: 50%;
  width: 23%;
  font-size: 14px;
  border: 1px solid green;
}

.quote-list-view {
  display: block;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin-bottom: 0px;
  margin-right: 20px;
  background: transparent;
  height: 70%;
  width: 95%;
  font-size: 14px;
  overflow: hidden;
  overflow-y: auto;
}
.quote-list-view::-webkit-scrollbar {
  width: 10px;
}
.quote-list-view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #57a1cc;
  border-radius: 10px;
}
.quote-list-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #57a1cc;
}
.quote-list-view .fa-trash-alt {
  cursor: pointer;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.quote-list-view .fa-trash-alt:hover {
  color: #57a1cc;
}
.quote-list-view .quote-wrapper {
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.quote-list-view .quote-wrapper:hover > .quote-title {
  color: deepskyblue;
}
.quote-list-view .quote-title {
  height: auto;
  width: 87%;
  background: 0;
  border: 0;
  outline-style: none;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.new-todo {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.new-todo input {
  width: 100%;
  height: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}
.new-todo input:focus + .label-name .content-name, .new-todo input:valid + .label-name .content-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #5fa8d3;
}
.new-todo input:focus + .label-name::after, .new-todo input:valid + .label-name::after {
  transform: translateX(0%);
}
.new-todo label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.new-todo label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}
.new-todo label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.todo-list {
  display: none;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin-bottom: 40px;
  margin-right: 20px;
  background: transparent;
  height: 50%;
  width: 23%;
  font-size: 14px;
}

.todo-list-view {
  display: block;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin-bottom: 0px;
  margin-right: 20px;
  background: transparent;
  height: 83%;
  width: 95%;
  font-size: 14px;
  overflow: hidden;
  overflow-y: auto;
}
.todo-list-view::-webkit-scrollbar {
  width: 10px;
}
.todo-list-view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #57a1cc;
  border-radius: 10px;
}
.todo-list-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #57a1cc;
}
.todo-list-view .fa-trash-alt {
  cursor: pointer;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.todo-list-view .fa-trash-alt:hover {
  color: #57a1cc;
}
.todo-list-view .task-wrapper {
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.todo-list-view .task-wrapper:hover > .task-title {
  color: deepskyblue;
}
.todo-list-view .task-title {
  height: auto;
  width: 87%;
  background: 0;
  border: 0;
  outline-style: none;
  padding-left: 3px;
  padding-right: 3px;
}

.btn-delete {
  background-color: none;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #4b8eb4;
  margin-right: 5px;
}
.btn-delete:hover {
  background-color: #57a1cc;
}

.slide-in {
  display: block;
  border: 0;
  border-radius: 0.1em;
  animation: slideMe 0.7s ease-in;
}

@-webkit-keyframes pulseEffect {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideMe {
  0% {
    transform: skewX(25deg) translateX(-500px);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
  }
  62% {
    transform: skewX(0deg) translateX(10px);
  }
  70% {
    transform: skew(-2deg);
    opacity: 1;
  }
  80% {
    transform: skew(0deg) translate(0);
  }
  90% {
    transform: skew(-5deg);
  }
  100% {
    transform: skew(0deg);
  }
}
/**setup modal**/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.8);
  transition: all ease 1s;
}

.closeoverlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: block;
  z-index: 2;
  position: fixed;
  cursor: pointer;
}

.closebutton {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  margin: 0 auto;
  display: table;
  float: right;
  margin-right: 5px;
}
.closebutton:hover {
  color: deepskyblue !important;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal:target > .closeoverlay {
  display: block;
}

.modal > div {
  width: 55%;
  height: 500px;
  max-width: 75vw;
  max-height: 75vh;
  text-align: center;
  position: relative;
  background: transparent;
  z-index: 3;
  border-radius: 25px;
}

.wrap,
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  overflow-y: auto;
}

.todays-goal-list {
  margin-top: 30px;
  font-size: 15px;
  width: 400px;
  text-align: center;
}
.todays-goal-list p {
  font-size: 12px;
  margin-top: 15px;
}
.todays-goal-list:hover .goal-icon {
  display: inline-block;
}

.current-goal {
  cursor: pointer;
}

.goal-icon {
  display: none;
  margin-left: 15px;
  cursor: pointer;
}

.todo-icon {
  display: none;
  margin-left: 5px;
  cursor: pointer;
  float: right;
  transition: transform 0.2s ease;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.gi-trash:hover {
  color: #b42222;
}

.gi-todo-cancel:hover {
  color: #b42222;
}

.gi-goal-cancel:hover {
  color: #b42222;
}

.gi-check:hover {
  color: #25a514;
}

.gi-todo-check:hover {
  color: #25a514;
}

.gi-goal-check:hover {
  color: #25a514;
}

.goal-div {
  margin-left: 4%;
  margin-top: 15px;
  width: 93%;
  height: 50px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.goal-div input {
  width: 100%;
  height: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}
.goal-div input:focus + .label-name .content-name, .goal-div input:valid + .label-name .content-name {
  transform: translateY(-120%);
  font-size: 14px;
  color: #5fa8d3;
}
.goal-div input:focus + .label-name::after, .goal-div input:valid + .label-name::after {
  transform: translateX(0%);
}
.goal-div label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.goal-div label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}
.goal-div label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.goal-list-view {
  display: block;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin-bottom: 0px;
  margin-right: 20px;
  background: transparent;
  height: 85%;
  width: 95%;
  font-size: 14px;
  overflow: hidden;
  overflow-y: auto;
}
.goal-list-view::-webkit-scrollbar {
  width: 10px;
}
.goal-list-view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #57a1cc;
  border-radius: 10px;
}
.goal-list-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #57a1cc;
}
.goal-list-view .fa-trash-alt {
  cursor: pointer;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-left: 15px;
}
.goal-list-view .fa-trash-alt:hover {
  color: #57a1cc;
}
.goal-list-view .goal-wrapper {
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.goal-list-view .goal-wrapper:hover > .goal-title {
  color: deepskyblue;
}
.goal-list-view .goal-title {
  height: auto;
  width: 87%;
  background: 0;
  border: 0;
  outline-style: none;
  padding-left: 3px;
  padding-right: 3px;
  text-align: justify;
  margin-top: 5px;
}
.goal-list-view .goal-title .date-finished {
  font-style: italic;
  font-size: 11px;
  color: #9e9e9e;
}

/*# sourceMappingURL=style.css.map */
