$dominant: #CD2733;
$login-button: #e23d49;
$hover: #F85973;
$text-color: #8a8a8a;
$progress-load-bar: #7D4897;
$white: #fff;
$grey: #b5b5b5;
$dark-grey: #333;
$black: #000;
$success: #28a745;
$danger: #ab2431;
$table-row: #e4e4e4;