@import "colorDB";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

//nav bar component **************************
#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    padding: 10px;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: transparent;
    transition: background 250ms ease-in;
    .logo {
        img {
            width: 180px;
        }
    }
    .account-icon {
        font-size: 35px;
        color: $white;
        cursor: pointer;
        &:after, &:after {
            transition: all .5s;
        }
        &:hover{
            color: $hover;
        }
    }
    .menu-icon {
        margin-left: 20px;
        display: none;
        font-size: 35px;
        color: $white;
    }
}

.nav-scrolled {
    background: $dominant !important;
}

nav {
    flex: 1;
    text-align: right;
    ul {
        display: inline-block;
        list-style-type: none;
        li {
            display: inline-block;
            margin-right: 20px;
            a {
                text-decoration: none;
                color: $white;
                font-size: 17px;
                background: transparent;
                border-radius: 5px;
                text-transform: uppercase;
                letter-spacing: 3px;
                &:after, &:after {
                    transition: all .5s;
                }
                &:hover{
                    color: $hover;
                }
            }
            p {
                text-decoration: none;
                color: $white;
                font-size: 17px;
                background: transparent;
                border-radius: 5px;
                text-transform: uppercase;
                letter-spacing: 3px;
                cursor: pointer;
                &:after, &:after {
                    transition: all .5s;
                }
                &:hover{
                    color: $hover;
                }
            }
        }
    }
}

nav.stroke ul li a, nav.stroke ul li p {
position: relative;
}

nav.stroke ul li a:after, nav.stroke ul li p:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: $white;
height: 2px;
}

nav.stroke ul li a:hover:after, nav.stroke ul li p:hover:after {
width: 100%;
}

.progress-container {
    position: fixed;
    width: 100%;
    height: 5px;
    background: transparent;
    margin-top: 75px;
    z-index: 1;
}
.progress-bar {
    height: 5px;
    background: $progress-load-bar;
    width: 0%;
}


//containers component ************************
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
}

.container-content {
    max-width: 1300px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    overflow: hidden;
}

.row, .row-sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
        img {
            display: block;
            width: 100% !important;
            max-width: 500px;
            height: auto;
            margin: auto;
            border-radius: 20px;
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
        }
        p {
            font-size: 14px;
        }
    }
}

.row-sub-last {
    margin-bottom: 20px;
}

.row-sub {
    margin-top: 20px !important;
}

.col-cover{
    margin-top: -5px;
    position: relative;
    background-image: url(../img/1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 20s infinite;
    .content {
        margin-left: 10px;
        padding: 5px;
        position: absolute;
        top: 35%;
        text-align: left;
        color: $white;
        letter-spacing: 5px;
        text-transform: uppercase;
        h1 {
            font-size: 30px;
        }
    }
}

.img-loader {
    visibility: hidden;
    width: 0;
    height: 0;
    img {
        width: 0;
        height: 0;
    }
}

//content component ***********************************
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3{
    flex-basis: 33%;
    min-width: 250px;
    margin-bottom: 10px;
    img{
        width: 100%;
    }
}

.rating{
    .fa{
        color: $dominant;
    }
}

.services{
    padding-top: 60px;
    .col-3{
        text-align: center;
        padding: 20px 30px;
        //box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
        //cursor: pointer;
        /*transition: transform 0.5s;
        &:hover{
            transform: translateY(-10px);
        }*/
        img{
            width: 70%;
            margin-top: 0;
            //border-radius: 50%;
        }
        .fa.fa-quote-left{
            font-size: 34px;
            color: $dominant;
        }
        p{
            font-size: 12px;
            margin: 5px 0;
            color: $text-color;
            text-align: justify;
        }
        h3{
            font-weight: 600;
            color: $dark-grey;
            font-size: 18px;
        }
    }
}

#about {
    &:target:before {
        content: "";
        display: block;
        height: 100px;
        margin: -100px 0 0;
    }
    p {
        text-align: justify;
        display: block;
        max-width: 600px;
        height: auto;
        margin: auto;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

//footer component ***********************************
.footer {
    background: $black;
    color: $text-color;
    font-size: 14px;
    padding: 0 0 20px;
    p {
        color: $text-color;
    }
    h3 {
        color: $white;
        margin-bottom: 20px;
    }
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
        min-width: 250px;
        margin-bottom: 20px;
    }
    .footer-col-1 {
        flex: 1;
        text-align: center;
        img {
            width: 180px;
            cursor: pointer;
        }
    }
    .footer-col-2 {
        flex-basis: 30%;
        text-align: center;
        .app-logo {
            margin-top: 20px;
            cursor: pointer;
            img {
                width: 140px;
            }
        }
    }
    .footer-col-3, .footer-col-4 {
        flex-basis: 12%;
        text-align: center;
        ul {
            list-style-type: none;
            li {
                transition: transform 0.5s;
                &:hover{
                    transform: translateY(-5px);
                }
                a {
                    text-decoration: none;
                    color: $text-color;
                    &:hover{
                        color: $hover;
                    }
                }
            }
        }
    }
    hr {
        border: none;
        background: $grey;
        height: 1px;
        margin: 20px 0;
    }
    .copyright {
        text-align: center;
    }
}

//modal component ***********************************

//login component ***********************************
.login-container{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)), url(../img/login.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.login-container-sub {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10%;
}

.form-container {
    left: 5%;
    margin-top: 70%;
    background: $white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    border-radius: 25px;
    .form-btn {
        display: inline-block;
    }
    span {
        font-weight: bold;
        padding: 0 10px;
        color: #555;
        cursor: pointer;
        width: 100px;
        display: inline-block;
    }
    form {
        max-width: 300px;
        padding: 0 20px;
        position: absolute;
        top: 130px;
        transition: transform 1s;
        .btn {
            width: 100%;
            border: none;
            cursor: pointer;
            margin: 10px 0;
            &:focus {
                outline: none;
            }
        }
        p {
            font-size: 12px;
            color: $text-color;
            cursor: pointer;
        }
    }
    form input {
        width: 100%;
        height: 30px;
        margin: 10px 0;
        padding: 0 10px;
        border: 1px solid $dark-grey;
    }
}

.btn {
    display: inline-block;
    background: $login-button;
    color: $white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    &:hover {
        background: #563434;
    }
}

#form {
    left: -300px;
}

#reg-form {
    left: 0;
}

#indicator {
    width: 100px;
    border: none;
    background: $login-button;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


//registration component ***********************************
#snackbar {
    visibility: hidden; 
    min-width: 87%;
    margin-left: -125px; 
    color: $white; 
    text-align: center; 
    border-radius: 5px; 
    padding: 16px; 
    position: absolute; 
    z-index: 1; 
    left: 48%; 
    bottom: 280px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#spinner {
    visibility: hidden;
    min-width: 87%;
    margin-left: -125px;
    color: $success; 
    text-align: center; 
    border-radius: 5px; 
    padding: 16px; 
    position: absolute; 
    z-index: 1; 
    left: 48%; 
    bottom: 180px;
    font-size: 40px !important;
}

#spinner.show {
    visibility: visible;
}

//account nav bar component **************************
#header-account {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    padding: 10px;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: $dominant;
    transition: background 250ms ease-in;
    .logo {
        img {
            width: 180px;
        }
    }
    .account-icon {
        font-size: 35px;
        color: $white;
        cursor: pointer;
        &:after, &:after {
            transition: all .5s;
        }
        &:hover{
            color: $hover;
        }
    }
    .menu-icon {
        margin-left: 20px;
        display: none;
        font-size: 35px;
        color: $white;
    }
}

.account-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 100px;
}

#account-progress {
    position: fixed;
    width: 100%;
    height: 5px;
    background: transparent;
    margin-top: 70px;
    z-index: 1;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {left: 0; opacity: 0;}
    to {left:  48%; opacity: 1;}
}

@keyframes fadein {
    from {left: 0; opacity: 0;}
    to {left:  48%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {left:  48%; opacity: 1;}
    to {left: 0; opacity: 0;}
}

@keyframes fadeout {
    from {left:  48%; opacity: 1;}
    to {left: 0; opacity: 0;}
}


//media query declare here ****************************
@media screen and (max-width: 555px) {
    nav ul {
        position: absolute;
        top: 69px;
        left: 0;
        background: $dark-grey;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        li {
            display: block;
            margin: 10px 50px 10px 0;
            a {
                color: $white;                
            }
        }
    }

    .menu-icon {
        display: block !important;
        cursor: pointer;
    }

    .col-cover{
        display: none;
    }

    #header {
        background: $dominant !important;
    }

    #progress{
        position: fixed;
        margin-top: 70px;
        width: 100%;
        height: 5px;
        background: transparent;
        z-index: 1;
    }
}

@media only screen and (max-width: 302px) {
    #header {
        .logo {
            img {
                display: none;
            }
        }
    }

    #header-account {
        .logo {
            img {
                display: none;
            }
        }
    }

    #progress{
        position: fixed;
        width: 100%;
        height: 5px;
        background: transparent;
        margin-top: 70px;
        z-index: 1;
    }
}

@keyframes slide {
    20% {
        background-image: url(../img/2.png);
    }

    40% {
        background-image: url(../img/3.png);
    }

    60% {
        background-image: url(../img/4.png);
    }

    80% {
        background-image: url(../img/5.png);
    }

    100% {
        background-image: url(../img/1.png);
    }
}