@import "colorDB";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    padding: 10px;
    z-index: 1;
    width: 100%;
    height: 70px;
    //background-image: $header-gradient;
    background: transparent;
    transition: background 250ms ease-in;
    .logo {
        img {
            width: 180px;
        }
    }
    .account-icon {
        font-size: 35px;
        color: #fff;
        &:after, &:after {
            transition: all .5s;
        }
        &:hover{
            color: #F85973;
        }
    }
    .menu-icon {
        //width: 28px;
        margin-left: 20px;
        display: none;
        font-size: 35px;
        color: #fff;
    }
}

.nav-scrolled {
    background: #CD2733 !important;
}

nav {
    flex: 1;
    text-align: right;
    ul {
        display: inline-block;
        list-style-type: none;
        li {
            display: inline-block;
            margin-right: 20px;
            a {
                text-decoration: none;
                color: #fff;
                font-size: 17px;
                background: transparent;
                border-radius: 5px;
                text-transform: uppercase;
                letter-spacing: 3px;
                &:after, &:after {
                    transition: all .5s;
                }
                &:hover{
                    color: #F85973;
                }
            }
        }
    }
}

nav.stroke ul li a {
position: relative;
}
nav.stroke ul li a:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: #fff;
height: 2px;
}
nav.stroke ul li a:hover:after {
width: 100%;
}

.progress-container {
    position: fixed;
    width: 100%;
    height: 5px;
    background: transparent;
    margin-top: 75px;
    z-index: 1;
}
.progress-bar {
    height: 5px;
    background: #7D4897;
    width: 0%;
}


//containers component
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 70px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
}

.col-cover{
    margin-top: -5px;
    position: relative;
    background-image: url(../img/1.png);
    //background-image: url(../img/1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 20s infinite;
    .content {
        margin-left: 10px;
        padding: 5px;
        position: absolute;
        top: 35%;
        //left: 50%;
        //transform: translate(-50%, -50%);
        text-align: left;
        color: #fff;
        letter-spacing: 5px;
        text-transform: uppercase;
        h1 {
            font-size: 30px;
        }
    }
}

.img-loader {
    visibility: hidden;
    width: 0;
    height: 0;
    img {
        width: 0;
        height: 0;
    }
}


//media query declare here
@media screen and (max-width: 555px) {
    nav ul {
        position: absolute;
        top: 69px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        li {
            display: block;
            margin: 10px 50px 10px 0;
            a {
                color: #fff;                
            }
        }
    }

    .menu-icon {
        display: block !important;
        cursor: pointer;
    }

    .col-cover{
        display: none;
    }

    #header {
        background: #CD2733 !important;
    }

    #progress{
        position: fixed;
        margin-top: 70px;
        width: 100%;
        height: 5px;
        background: transparent;
        z-index: 1;
    }
}

@media only screen and (max-width: 302px) {
    #header {
        .logo {
            img {
                display: none;
            }
        }
    }

    #progress{
        position: fixed;
        width: 100%;
        height: 5px;
        background: transparent;
        margin-top: 70px;
        z-index: 1;
    }
}

@keyframes slide {
    20% {
        background-image: url(../img/2.png);
    }

    40% {
        background-image: url(../img/3.png);
    }

    60% {
        background-image: url(../img/4.png);
    }

    80% {
        background-image: url(../img/5.png);
    }

    100% {
        background-image: url(../img/1.png);
    }
}